streamlit
langchain
langchain_community
pypdf2
pypdf
faiss-cpu
google-generativeai
python-dotenv
numpy
panda
scikit-learn
langchain-google-genai
langchain_text_splitters
chromadb
cohere
langchain_cohere
rank_bm25
nltk 
spacy 
textblob
pinecone-client
langchain-pinecone
pinecone-client[grpc]
